<div class="container">
  <div class="row">
    <div class="span1">
    </div>
    <div class="span8">



      <h3>Great! You succesfully applied to be a Tandem Spot Member.</h3>
      <p class="lead">
        We want to make sure every member can fluently communcate in the language he wants to improve.
        So we are gradually openning the web to the public</p>
      <br>
      <br>
      <br>
      <br>

      <p class="lead">
        Get your friends on Tandem Spot to skip the queue
      </p>
      <a class="btn btn-facebook btn-large" href="https://www.facebook.com/sharer/sharer.php?u=tandemspot.com&p[images][0]=http://tandemspot.com/images/logo-tandemspot.png&p[summary] = An URL description, most likely describing the contents of the page"><i class="fa fa-facebook"></i> Share on Facebook!</a>
    </div>
  </div>
</div>
