<div class="container">
  <div class="row">
    <div class="span1">
    </div>
    <div class="span8">


      <%= simple_form_for @user,  url: wizard_path   do |f| %>

      <h3>Great! You succesfully registered to Tandem Spot Beta.</h3>
      <p class="lead">
        We want to make sure every member can fluently communcate in the language he wants to improve.
        So we are gradually openning the web to the public.</p>
      <br>
      <br>
      <br>
      <br>

      <p class="lead">
     Tell you friends you are part of a cool club for learning languages.
      </p>

  <a class="btn btn-facebook btn-large" href="
    http://www.facebook.com/sharer.php?s=100&p[title]=Tandem Spot: The exclusive learning language community&p[url]=http://tandemspot.com&utm_medium=Social Media&utm_source=Facebook&utm_campaign=<%= current_user.uid %>&p[summary]=Learn languages by speaking. Connect with native speakers and improve your oral skills speaking.&p[images][0]=https://pbs.twimg.com/profile_images/3637645598/2824b40672271e9ff9bc9ba1f68ad135.png"><i class="fa fa-facebook"></i> Share on Facebook!</a>

   <br >
<div class="form-actions">
      <%= f.submit "Continue" , :class => 'btn btn-large btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
