


<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="span4">

     <h2>Start to speak</h2>
      </br>
      </br>

      <%= link_to raw("<i class=\"icon-white icon-user\"> Are you ready?</i>"),
        new_room_path,
        class: "btn btn-success btn-xlarge",
        method: :get,
        rel:'popover',
        data: {placement: 'bottom',  toggle: 'popover', trigger: 'hover', content: 'Instantly connect with someone to practice with' }

      %>
      </br>
      </br>
      </div>
      <div class="span4">
        <h2>Weekly schedule</h2>
      </br>
      </br>
      <%= link_to raw("<i class=\"icon-white icon-calendar\"> Be a language hero</i>"),
          appointments_path,
          class: "btn btn-info btn-xlarge",
          method: :get,
          rel:'popover',
         data: {placement: 'bottom',  toggle: 'popover', trigger: 'hover', content: 'Set your schedule and program a regular tandem with an awesome partner' }
        %>
      </br>
      </br>
      </div>

    <div class="span4">
        <h2>Connect with users</h2>
      </br>
      </br>
      <%= link_to raw("<i class=\"icon-white icon-user\"> See the registred users</i>"),
          users_path,
          class: "btn btn-xlarge",
          method: :get,
          rel:'popover',
         data: {placement: 'bottom',  toggle: 'popover', trigger: 'hover', content: 'See the users already in!' }
        %>
      </br>
      </br>
      </div>

    </div>
  </div>
