<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="span2">
    </div>
    <div class="span4">
      <a href="#" class="btn btn-success btn-large"><i class="icon-white icon-user"></i>Tandem Now</a>

  <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
</div>
<div class="span4">
  <a href="#" class="btn btn-danger btn-large"><i class="icon-white icon-calendar"></i> Program a Tandem</a>

  <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
</div>
<div class="span2">
</div>
</div>
</div>
