


<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="span2">
    </div>
    <div class="span4">

      <%= link_to raw("<i class=\"icon-white icon-user\">Tandem Now</i>"),
        new_room_path,
        class: "btn btn-success btn-large",
        method: :get %>

      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span4">

        <%= link_to raw("<i class=\"icon-white icon-calendar\">Program a Tandem</i>"),
          find_users_path,
          class: "btn btn-danger btn-large",
          method: :get %>


        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span2">
      </div>
    </div>
  </div>
