/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require appointments
 *= require bootstrap_and_overrides
 *= require availables
 *= require home
 *= require rooms
 *= require social-buttonts
 *= require users
 *= require user_steps
 */
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: image-url(up_arrow.gif);
}

.pretty th .desc {
  background-image: url(down_arrow.gif);
}

.chzn-results { max-height: 120px!important; }



