#user_language_speak_ids {
  width: 370px;
}
#user_language_improve_ids {
  width: 370px;
}
#interests label  {
    float: left;
    display: block;
    margin-right:90px;
}
#interests input {
    float: left;
    margin-right:10px;
}
