#user_language_speak_ids {
  width: 370px;
}
#user_language_improve_ids {
  width: 370px;
}
#interests{
    margin-bottom:50px;
    display: inline-flex;
    white-space: nonwrap;
}

#interests > *{
	padding-right: 20px;
}