<div class="container">
  <div class="row">
    <div class="span1">
    </div>
    <div class="span8">
  <br />
  <br />
  <br />
  <br />
  <br />
<% ava = Available.find(@appointment.available_id) %>
<p>
  <b>Day:</b>
  <%= ava.day %>
</p>

<p>
  <b>Hour (GMT+1)</b>
  <%= ava.start_end_time %>
</p>

  <%= link_to raw("<i class=\"icon-white \">Add other one</i>"),
    {controller: 'appointments', action: 'index'},
    class: "btn btn-xlarge"
    %>

</div>


 </div>
</div>
